.elementor-427 .elementor-element.elementor-element-c7d7109 img {
    width: 103px
}

.elementor-427 .elementor-element.elementor-element-a90589d {
    text-align: left
}

.elementor-427 .elementor-element.elementor-element-2df1daa {
    text-align: left
}

.elementor-427 .elementor-element.elementor-element-44d7ac0 {
    text-align: right
}